@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

a{
    background-color: #E5E5E5;
    margin-left: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: rgb(0, 47, 255);
}

a:hover, a:focus{
    background-color: #1b66bb;
    color: black;
}

li{
    display: inline;
    margin-right: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-areas: 
        "um dois";
    grid-template-columns: auto;
}

section{
    grid-area: um;
}

aside{
    grid-area: dois;
}

video{
    width: 175px;
}

header{
    background-color: #E5E5E5;
    padding: 10px;
    text-align: center;
}

img#pic{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px gray;
}

h1, h2{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

article#cursos{
    background-image: url(https://media-exp2.licdn.com/dms/image/C4E03AQHoR8DL1m5CIQ/profile-displayphoto-shrink_200_200/0/1652595224246?e=1661385600&v=beta&t=PRE10JkabcR6qlgVio5b1Xu_0he0qft2jUUFbd8s3YA);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
}

article#estudando{
    background-color: #E5E5E5;
    padding: 20px;
    line-height: 20px;
}

article#habilidades{
    background-color: #4387D8;
    padding: 20px;
}

aside{
    background-color: #315E93;
    padding: 20px;
}

footer{
    background-color: #4387D8;
    padding: 20px;
}

#fieldset1{
    grid-area: fieldset1;
}

#fieldset2{
    grid-area: fieldset2;
}

#submit{
    grid-area: submit;
    margin-top: 20px;
}

label[for="nome"]{
    grid-area: labnome;
    margin-bottom: 10px;
}

label[for="email"]{
    grid-area: labemail;
}

label[for="tel"]{
    grid-area: labtel;
    margin-bottom: 10px;
}

label[for="url"]{
    grid-area: laburl;
}

#nome{
    grid-area: nome;
    margin-bottom: 10px;
}

#email{
    grid-area: email;
}

#tel{
    grid-area: tel;
    margin-bottom: 10px;
}

#url{
    grid-area: url;
}

fieldset{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#fieldset1{
    display: grid;
    grid-template-areas: 
        "labnome nome"
        "labemail email";
    grid-template-columns: 70px 1fr;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: #000;
}

#fieldset2{
    display: grid;
    grid-template-areas: 
        "labtel tel"
        "laburl url";
    grid-template-columns: 70px 1fr;
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: #000;
}   

#fieldset1 legend,
#fieldset2 legend{
    background-color: rgb(0, 80, 155);
    color: white;
    width: 100.3%;
    padding: 10px;
}

input[type="submit"]{
    background-color: #315E93;
    color: white;
    width: 500px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px navy;
}

@media screen and (max-width: 1024px){
    main{
    display: block;
    }
}

@media screen and (max-width: 840px) { 
    p{color:pink;} 
    }   